{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "maptalks",
  "globals": {
      "beforeEach" : true,
      "afterEach" : true,
      "describe" : true,
      "it" : true,
      "expect" : true,
      "sinon" : true,
      "happen" : true
  },
  "plugins": ["mocha"],
  "rules": {
    "strict" : 0,
    "global-require": 0
  }
}
